/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*generic styles*/

body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  text-align: center;
  font-size: 21pt;
  line-height: 21pt;
  font-family: 'Lora', serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  line-height: 16pt; 
  font-weight: 400;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 1em 0;
  font-size: 14pt;
  line-height: 18pt;
}
a {
  text-decoration: none;
}
.btn {
  border: solid 2px #888686;
  padding: 1em 3%;
  color: #888686;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 2em;
  display: inline-block;
}

/*header styles*/

header {
  background-color: #858b11;
  /*height: 100px;*/
  position: fixed;
  width: 100%;
}
img.header-logo {
  margin: 0;
}
header img {
  width: 180px;
  height: 100px;
  margin: 2em 3em;
}
header .button-close-nav img {
  width: 30px;
  height: 30px;
  float: right;
}
header .button-nav img {
  width: 30px;
  height: 30px;
  float: right;
}
header .hidden {
  display: none;
}
header .nav {
  text-align: center;
  font-size: 1.6em;
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 35px;
  -webkit-transition: all .3s linear;
  font-family: 'Dosis', sans-serif;
}
.nav a:hover {
  color: #888686;
}
nav .button-nav img {
  width: 50px;
  height: 50px;
}
a.button-nav {
  text-align: right;
}
section.hero {
  padding: 30px 10%;
}
section.hero h1 {
  margin: 1em 0 0.5em 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;  
}

/*section holder background*/

section.intro-holder {
  background: transparent url("../images/background-4-opacity.jpg") center top no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: table;
  overflow: hidden;
  color: #fff;
}
section.intro-holder h1.copy {
  width: 100%;
  height: 200px;
  font-size: 20px;
  top: 40%;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  font-size: 36pt;
  line-height: 40pt;
  text-transform: none;
}

/*section about*/

section#about {
  padding: 30px 10%;
}
section#about img {
  margin: 2em auto;
  display: block;
}
section#about h1 {
  margin: 1em 0 0.5em 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;  
}
section#about h2 {
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 2.5px;
}

/*section offers*/

section#offers h1 {
  margin: 1em 0 0.5em 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px 0;
  text-transform: uppercase;
}
.container {
  padding: 4em 13% 1em;
}
.container.even {
  background-color: #000;
}
section#offers .offers {
  overflow: auto;
  text-align: center;
  /*padding-bottom: 0;*/
  margin-bottom: 0;
}
.offer {
  float: left;
  margin-right: 2%;
  width: 40%;
  padding: 4%;
  list-style: none;
}
.card {
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  border: 1px solid #f1f4f5;
  border-color: #f7f9fb #f1f4f5 #e6e9ea #f1f4f5;
  -webkit-box-shadow: 0 1px 0 0 #f1f4f5;
  box-shadow: 0 1px 0 0 #f1f4f5;
  margin-bottom: 5%;
}
.offers .last {
  margin: 0;
}
.offer img {
  width: 400px;
}
div.menu {
  padding: 30px 15%;
  text-align: center;
}
div.menu h2 {
  font-size: 18pt;
  line-height: 18pt;
  text-transform: uppercase;
  color: #858b11;
  margin: 1.5em 0;
  letter-spacing: 1px;
}
div.menu a:hover {
  color: #858b11;
  border: solid 2px #858b11;
}

/*section stores*/

section.card-wrapper {
  padding: 5% 10%;
  overflow: auto;
  background-color: #f6f7f7;
}
section.card-wrapper .column {
  float: left;
  width: 31%;
  margin-right: 3.5%;
}
section.card-wrapper blockquote.card {
  border-radius: 0;
}
blockquote img {
  width: 353px;
  height: 235px;
  display: block;
  margin: 0 auto;
}
blockquote p {
  text-align: center;
  font-size: 1.05em;
  line-height: 2em;
  letter-spacing: 1px;
  margin: 1em 0;
}
div.column.last {
  margin: 0;
}
div#map {
  width: 353px;
  height: 300px;
}

/*article delivery*/

article.info-delivery {
  padding: 30px 0;
}
article.info-delivery h2 {
  text-align: center;
  margin: 1em 0;
  font-size: 18pt;
  line-height: 18pt;
}
article.info-delivery img {
  margin: 0 auto;
  display: block;
}
section#products {
  padding: 30px 15%;
}
section#products img {
  margin: 2em auto;
  display: block;
  width: 70%;
}
section#products h1 {
  margin: 1em 0 0.5em 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;  
}
section#products h2 {
  text-align: center;
}
section#products p {
  text-align: left;
}

